<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td width="100%">
        <div style="max-width: 600px; margin: 0px auto; text-align: center">
          <table
            align="center"
            cellpadding="0"
            cellspacing="0"
            style="
              border-spacing: 0;
              font-family: gt-eesti, ArialMT, Helvetica, Arial, sans-serif;
              margin: 0 auto;
              padding: 24px;
              width: 100%;
              max-width: 500px;
            "
          >
            <tbody>
              <tr>
                <td>
                  <table style="width: 100%">
                    <tbody style="width: 100%">
                      <tr
                        style="
                          width: 100%;
                          display: flex;
                          align-items: center !important;
                          justify-content: space-between !important;
                          padding: 5px 0px 20px 0px;
                        "
                      >
                        <td style="width: 100%; display:flex">
                          <img
                            src="https://skillkart.app/static/media/log.31e5f9e96bf89941fe15.jpeg"
                            alt="logo"
                            width="130"
                          />
                        </td>
                        <td>
                          <a
                            href="https://skillkart.app/login"
                            style="color: black; font-size: 18px"
                            >Login</a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
            <tbody style="margin: 10px 0px">
              <tr>
                <td>
                  <table
                    style="
                      width: 100%;
                      padding: 15px 15px;
                      background-color: azure;
                      border-radius: 10px;
                    "
                  >
                    <tbody style="width: 100%">
                      <tr
                        style="
                          width: 100%;
                          display: flex;
                          flex-direction: column !important;
                        "
                      >
                        <td>
                          <tr>
                            <table
                              style="
                                width: 100%;
                                height: 100%;
                              "
                            >
                              <tbody>
                                <tr
                                  style="
                                    width: 100%;
                                    text-align: left;
                                    padding: 10px 20px;
                                  "
                                >
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 10px 20px 0px 20px !important;
                                      font-size: 17px;
                                      margin: 0px !important;
                                    "
                                  >
                                    Hi, <%= username %>
                                  </p>
                                </tr>
                                <tr>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 0px 20px !important;
                                      font-size: 17px;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                    "
                                  >
                                    Thank for creating mentor account with us.
                                    we appreciate your interest in mentoring
                                    student.Mentoring is a research-based
                                    intervenion that promotes positive youth
                                    developemental assests and resiliency ,
                                    factors needed to successfully navigate
                                    professional life.The skillkart program
                                    offer you the chance to provide this benefit
                                    to your mentee.
                                  </p>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 0px 20px !important;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                        font-size: 17px;
                                    "
                                  >
                                    If you have any doubt, feel free to reach
                                    us. we are always available for you.
                                  </p>
                                  <p
                                    style="
                                      text-align: left;
                                      padding: 0px 20px !important;
                                      font-size: 17px;
                                      font-family: -apple-system,
                                        '.SFNSText-Regular', 'San Francisco',
                                        'Roboto', 'Segoe UI', 'Helvetica Neue',
                                        'Lucida Grande', sans-serif;
                                    "
                                  >
                                    Team Skillkart ❤️
                                  </p>
                                </tr>
                                <tr></tr>
                              </tbody>
                            </table>
                          </tr>
                        </td>
                        <td style="margin: 10px 0px"></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
